<div class="container">
  <div class="tasks-section">
    <%= link_to("/", class: "home") do %>
      <i class="fa fa-home"></i>
    <% end %>
    <div class="project-name"><%= @project.name %></div>
    <% @tasks.each do |task| %>
      <a href="/projects/<%= task.project.id %>/tasks/<%= task.id %>/edit" class="task-card">
        <div class="task-title"><%= task.title %></div>
        <div class="task-deadline"><%= task.deadline %></div>
      </a>
    <% end %>
  </div>

  <%= link_to(new_project_task_path, class: "create-task") do %>
    <button class="create-task-btn"></button>
  <% end %>
</div>
